@charset 'utf-8';

@media (min-width:768px){
    /* 프로젝트 포트폴리오  */
    .projects .container{
        max-width:940px;
        padding:0;
    }
    .all-project ul{
        gap:0;
    }
    .all-project li{
        grid-template-columns:1fr 1fr;
        border:none;
    }
   
    .all-project li:nth-child(2n) .project-img{
        order:1;
    }
    .all-project li:nth-child(2n) .project-content{
        order:2;
    }
    /* 프로젝트 포트폴리오끝  */
}